<?xml version="1.0" ?>
<robot name="examplo" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find robot_description)/urdf/macros.xacro" />
  <xacro:include filename="$(find robot_description)/urdf/mechanical/chassis.urdf.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/mechanical/mecanum_with_rollers.urdf.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/robots/examplo_properties.urdf.xacro"/>

  <xacro:chassis
    length="${chassis_length}" 
    width="${chassis_width}" 
    height="${chassis_height}" 
    mass="${chassis_weight}"
  />

  <xacro:mecanum_with_rollers
    name="front_right"
    type="1"
    radius="${wheel_radius}" 
    width="${wheel_thickness}"
    flip="${pi}"
    pos_x="${wheel_joint_pos_x}" 
    pos_y="${wheel_joint_pos_y}" 
    pos_z="-${wheel_joint_pos_z}"
    mass="${wheel_weight}"
  />

  <xacro:mecanum_with_rollers
    name="rear_left"
    type="1"
    radius="${wheel_radius}" 
    width="${wheel_thickness}"
    flip="0"
    pos_x="-${wheel_joint_pos_x}" 
    pos_y="-${wheel_joint_pos_y}" 
    pos_z="-${wheel_joint_pos_z}" 
    mass="${wheel_weight}"
  />

  <xacro:mecanum_with_rollers
    name="front_left"
    type="2"
    radius="${wheel_radius}" 
    width="${wheel_thickness}"
    flip="0"
    pos_x="-${wheel_joint_pos_x}" 
    pos_y="${wheel_joint_pos_y}" 
    pos_z="-${wheel_joint_pos_z}" 
    mass="${wheel_weight}"
  />

  <xacro:mecanum_with_rollers
    name="rear_right"
    type="2"
    radius="${wheel_radius}" 
    width="${wheel_thickness}"
    flip="${pi}"
    pos_x="${wheel_joint_pos_x}" 
    pos_y="-${wheel_joint_pos_y}" 
    pos_z="-${wheel_joint_pos_z}" 
    mass="${wheel_weight}"
  />


</robot>
